{% extends 'base.html' %}


{% block content %}


<div class="col-sm-2 sidenav">
</div>

<div class="col-sm-8 text-left"> 
  	<h2>Login`12</h2>
	<form method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit">Login</button>
	    {{ form.error }}
	</form>
</div>

<div class="col-sm-2 sidenav">
  <h3>Members</h3>
  <div class="well">
    <p>user - 1</p>
  </div>
</div>

{% endblock %}