{% extends 'base.html' %}

{% block content %}
<div class="col-sm-2 sidenav">
</div>

<div class="col-sm-8 text-left"> 
	{% if messages %}
		<!-- <ul class="messages"> -->
		    {% for message in messages %}
		    <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> -->
		    {{ message }}
		<!-- </li> -->
		    {% endfor %}
		<!-- </ul> -->
	{% endif %}
    <h1>Welcome</h1>
    {% if request.user.is_authenticated %}
	<form method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit">Send</button>
	 </form>
	 {% endif %}
</div>

<div class="col-sm-2 sidenav">
  <h3>Members</h3>
  <div class="well">
  	{% for member in members %}
    <p> {{ member.user.username }}</p>
    {% empty %}
    	<span> no members </span>
    {% endfor %}
  </div>
</div>
{% endblock %}