{% extends 'base.html' %}


{% block content %}

<div style="margin-top: 50px;">
	<form method="post" enctype="multipart/form-data" novalidate>
	    {% csrf_token %}
	    <div class="form-group">
	        <div class="input-group">
	            {{ form.username }}
	            {{ form.username.errors }}
	        </div>
	    </div>
	    <div class="form-group">
	        <div class="input-group">
	            </span>
	            {{ form.password }}
	            {{ form.password.errors }}
	        </div>
	    </div>
	    {% if error %}
	        {{ error }}
	    {% endif %}
	    <div class="form-group">
	        <button class="btn btn-block btn-main"> Login</button>
	    </div>
	</form>

	<p><strong>-- OR --</strong></p>
  	<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>

</div>
{% endblock %}